<div class="container animated zoomIn"><div class="jumbotron mt-5 hello-b">
    <h1 class="display-4">
         Welcome to Gallery
    </h1>
    <p class="least">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit, harum earum et repudiandae quaerat</p>
    <p>ea cum molestiae provident assumenda quos eius ratione sequi at ipsam rerum commodi distinctio consectetur perspiciatis.</p>
    <hr class="my-4">
    <a href="/gallery"  class="btn btn-primary btn-lg mr-1 ml-1 mb-1 mt-1">Gallery</a>
    <a href="/gallery/apirest"  class="btn btn-primary btn-lg mr-1 ml-1 mb-1 mt-1">API REST Gallery</a>
    <a href="/Albumes/apirest"  class="btn btn-primary btn-lg mr-1 ml-1 mb-1 mt-1 ">API REST Albumes</a>
</div></div>

